<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1><%= @list.name %></h1>
      <br>
      <%# Add a new bookmark to an existing list %>
      <%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>
      <br>
      <%= link_to "See all lists", lists_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
